@import "tailwindcss";

@theme {
  /* colors */
  --color-app-orange: #f6931d;
  --color-app-orange-dark: #de851b;
  --color-app-gray: #545253;
  --color-app-gray-light: #d8d8d8;
  --color-app-green: #a0bc57;
  --color-app-blue: #6eb7c2;
  /* fonts */
  --font-sans: "Montserrat", sans-serif;
  /* shadows */
  --shadow-app-card: 0px 7px 14px 0px #6eb7c25e;
  --shadow-app-input: inset 0px 1px 2px 0px #00000080;
  /* background image */
  --bg-app-body: url("/image/background.webp");
  --bg-app-body-gradient: linear-gradient(
    0,
    #ffffff00 0% 0%,
    #ffffffff 100% 100%
  );
  /* content */
  --content-empty: "";
  /* animations */
  ---animate-background: app-background-color 5s ease-in-out alternate infinite;
  /* keyframes */
  @keyframes app-background-color {
    from {
      background-color: #ecf8fb;
    }
    to {
      background-color: #efefef;
    }
  }
}
